.calculadora__contendor {
    max-width: 700px;
    margin: auto;
}

.Boton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Boton__contenedorPrecioYCheck {
    display: flex;
    gap: 5px;
}

.Boton__titulo, .Boton__precio {
    margin: 0;
}